In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv("25k IMDb movie Dataset.csv")

FileNotFoundError: [Errno 2] No such file or directory: '25k IMDb movie Dataset.csv'

In [3]:
movies.head(3)

,movie title,Run Time,Rating,User Rating,Generes,Overview,Plot Kyeword,Director,Top 5 Casts,Writer,year,path
0,Top Gun: Maverick,"$170,000,000 (estimated)",8.6,187K,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,-2022,/title/tt1745960/
1,Jurassic World Dominion,2 hours 27 minutes,6,56K,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,-2022,/title/tt8041270/
2,Top Gun,"$15,000,000 (estimated)",6.9,380K,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,-1986,/title/tt0092099/

In [4]:
movies.rename(columns = {'Plot Kyeword':'Keywords'}, inplace = True)

In [5]:
movies.rename(columns = {'movie title':'movie_title'}, inplace = True)

In [6]:
movies.shape

(24402, 12)

In [7]:
#movie title
#Generes
#Overview
#Plot Keyword
#Director
#Top 5 casts
#Writer

movies = movies[['movie_title','Generes','Overview','Keywords','Director','Top 5 Casts','Writer']]

In [8]:
movies.head(1)

,movie_title,Generes,Overview,Keywords,Director,Top 5 Casts,Writer
0,Top Gun: Maverick,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash

In [9]:
movies.isnull().sum()

movie_title      0
Generes          0
Overview       244
Keywords         0
Director         0
Top 5 Casts      0
Writer           0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.isnull().sum()

movie_title    0
Generes        0
Overview       0
Keywords       0
Director       0
Top 5 Casts    0
Writer         0
dtype: int64

In [12]:
movies.duplicated().sum()

1

In [13]:
movies = movies.drop_duplicates()

In [14]:
movies.duplicated().sum()

0

In [15]:
# movies.iloc[0].Generes

In [16]:
# movies['Overview'] = movies['Overview'].apply(lambda x:x.split())

In [17]:
movies.head(1)

,movie_title,Generes,Overview,Keywords,Director,Top 5 Casts,Writer
0,Top Gun: Maverick,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash

In [18]:
movies['Director'] = movies['Director'].apply(lambda x:x.replace(" ",""))
movies['Top 5 Casts'] = movies['Top 5 Casts'].apply(lambda x:x.replace(" ",""))
movies['Writer'] = movies['Writer'].apply(lambda x:x.replace(" ",""))
movies['Keywords'] = movies['Keywords'].apply(lambda x:x.replace(" ",""))

In [19]:
movies['Top 5 Casts'] = movies['Top 5 Casts'].apply(lambda x:x.replace("'",""))
movies['Generes'] = movies['Generes'].apply(lambda x:x.replace("'",""))
movies['Keywords'] = movies['Keywords'].apply(lambda x:x.replace("'",""))

In [20]:
movies.head()

,movie_title,Generes,Overview,Keywords,Director,Top 5 Casts,Writer
0,Top Gun: Maverick,"[Action, Drama]",After more than thirty years of service as one...,"[fighterjet,sequel,u.s.navy,fighteraircraft,pi...",JosephKosinski,"[JackEppsJr.,PeterCraig,TomCruise,JenniferConn...",JimCash
1,Jurassic World Dominion,"[Action, Adventure, Sci-Fi]",Four years after the destruction of Isla Nubla...,"[dinosaur,jurassicpark,tyrannosaurusrex,veloci...",ColinTrevorrow,"[ColinTrevorrow,DerekConnolly,ChrisPratt,Bryce...",EmilyCarmichael
2,Top Gun,"[Action, Drama]",As students at the United States Navy's elite ...,"[pilot,malecamaraderie,u.s.navy,grummanf14tomc...",TonyScott,"[JackEppsJr.,EhudYonay,TomCruise,TimRobbins,Ke...",JimCash
3,Lightyear,"[Animation, Action, Adventure]",While spending years attempting to return home...,"[galaxy,spaceship,robot,rocket,spaceadventure,...",AngusMacLane,"[JasonHeadley,MatthewAldrich,ChrisEvans,KekePa...",AngusMacLane
4,Spiderhead,"[Action, Crime, Drama]","In the near future, convicts are offered the c...","[discover,medical,test,reality,fictionaldrug,v...",JosephKosinski,"[RhettReese,PaulWernick,ChrisHemsworth,MilesTe...",GeorgeSaunders

In [21]:
# str(movies['Overview'])

In [22]:
movies['tags'] = movies['movie_title'] + "," + movies['Generes'] + "," + movies['Keywords'] + "," + movies['Director'] + "," + movies['Top 5 Casts'] + "," + movies['Writer']

In [23]:
movies.head(1)

,movie_title,Generes,Overview,Keywords,Director,Top 5 Casts,Writer,tags
0,Top Gun: Maverick,"[Action, Drama]",After more than thirty years of service as one...,"[fighterjet,sequel,u.s.navy,fighteraircraft,pi...",JosephKosinski,"[JackEppsJr.,PeterCraig,TomCruise,JenniferConn...",JimCash,"Top Gun: Maverick,[Action, Drama],[fighterjet,..."

In [24]:
movies['tags'] = movies['tags'].apply(lambda x:x.replace("[",""))
movies['tags'] = movies['tags'].apply(lambda x:x.replace("]",""))

In [25]:
movies['tags'] = movies['tags'].apply(lambda x:x.replace(":",""))

In [26]:
movies.head(1).tags

0    Top Gun Maverick,Action, Drama,fighterjet,sequ...
Name: tags, dtype: object

In [27]:
new_df = movies[['movie_title', 'tags']]

In [28]:
new_df

,movie_title,tags
0,Top Gun: Maverick,"Top Gun Maverick,Action, Drama,fighterjet,sequ..."
1,Jurassic World Dominion,"Jurassic World Dominion,Action, Adventure, Sci..."
2,Top Gun,"Top Gun,Action, Drama,pilot,malecamaraderie,u...."
3,Lightyear,"Lightyear,Animation, Action, Adventure,galaxy,..."
4,Spiderhead,"Spiderhead,Action, Crime, Drama,discover,medic..."
...,...,...
24397,Delicatessen,"Delicatessen,Comedy, Crime,surrealist,blackcom..."
24398,Bitch Ass,"Bitch Ass,Crime, Horror,,BillPosley,BillPosley..."
24399,Bullwhip,"Bullwhip,Crime, Romance, Western,tamingofthesh..."
24400,The Freshman,"The Freshman,Comedy, Crime,endangeredspecies,f..."
24401,Guys and Dolls,"Guys and Dolls,Comedy, Crime, Musical,mission,..."

In [29]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\HP\AppData\Local\Temp\ipykernel_13932\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [30]:
new_df['tags'].apply(lambda x:"".join(x))

0        top gun maverick,action, drama,fighterjet,sequ...
1        jurassic world dominion,action, adventure, sci...
2        top gun,action, drama,pilot,malecamaraderie,u....
3        lightyear,animation, action, adventure,galaxy,...
4        spiderhead,action, crime, drama,discover,medic...
                               ...
24397    delicatessen,comedy, crime,surrealist,blackcom...
24398    bitch ass,crime, horror,,billposley,billposley...
24399    bullwhip,crime, romance, western,tamingofthesh...
24400    the freshman,comedy, crime,endangeredspecies,f...
24401    guys and dolls,comedy, crime, musical,mission,...
Name: tags, Length: 24157, dtype: object

In [31]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.replace(","," "))

C:\Users\HP\AppData\Local\Temp\ipykernel_13932\938356817.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.replace(","," "))

In [32]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.replace("  "," "))

C:\Users\HP\AppData\Local\Temp\ipykernel_13932\3383867219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.replace("  "," "))

In [33]:
new_df.head()

               movie_title                                               tags
0        Top Gun: Maverick  top gun maverick action drama fighterjet seque...
1  Jurassic World Dominion  jurassic world dominion action adventure sci-f...
2                  Top Gun  top gun action drama pilot malecamaraderie u.s...
3                Lightyear  lightyear animation action adventure galaxy sp...
4               Spiderhead  spiderhead action crime drama discover medical...

In [34]:
new_df['tags'][0]

'top gun maverick action drama fighterjet sequel u.s.navy fighteraircraft pilot navalaviation jetfighter militarypilot aviation aircraft josephkosinski jackeppsjr. petercraig tomcruise jenniferconnelly milesteller jimcash'

In [35]:
# !pip install nltk

In [36]:
import nltk

In [37]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [38]:
def stem(text):
    texts= text.split()
    txt = [ps.stem(i)for i in texts]
    final_text = " ".join (txt)
    return final_text

In [39]:
text = "zombie unique romance action drama after more than thirty years of service as one of the navy's top aviators pete mitchell is where he belongs pushing the envelope as a courageous test pilot and dodging the advancement in rank that would ground fighterjet sequel u.s.navy fighteraircraft pilot navalaviation jetfighter militarypilot aviation aircraft josephkosinski jackeppsjr. petercraig tomcruise jenniferconnelly milesteller jimcash"
stem(text)

"zombi uniqu romanc action drama after more than thirti year of servic as one of the navy' top aviat pete mitchel is where he belong push the envelop as a courag test pilot and dodg the advanc in rank that would ground fighterjet sequel u.s.navi fighteraircraft pilot navalavi jetfight militarypilot aviat aircraft josephkosinski jackeppsjr. petercraig tomcruis jenniferconnelli milestel jimcash"

In [40]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\HP\AppData\Local\Temp\ipykernel_13932\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [42]:
vectors = cv.fit_transform(new_df['tags'])

In [43]:
vectors

<24157x5000 sparse matrix of type '<class 'numpy.int64'>'
	with 243695 stored elements in Compressed Sparse Row format>

In [44]:
vectors[0]

<1x5000 sparse matrix of type '<class 'numpy.int64'>'
	with 10 stored elements in Compressed Sparse Row format>

In [45]:
cv.get_feature_names_out()

array(['007', '10', '12', ..., 'zombieapocalyps', 'zone', 'zoo'],
      dtype=object)

In [46]:
from sklearn.metrics.pairwise import cosine_similarity

In [47]:
similarity = cosine_similarity(vectors, vectors)

In [48]:
similarity[1]

array([0.19069252, 1.        , 0.09090909, ..., 0.        , 0.        ,
       0.        ])

In [49]:
sorted(list(enumerate(similarity[0])),reverse=True, key=lambda x:x[1])[0:6]

[(0, 0.9999999999999999),
 (2, 0.5720775535473555),
 (1972, 0.4472135954999579),
 (4243, 0.4472135954999579),
 (4525, 0.4472135954999579),
 (4614, 0.4472135954999579)]

In [50]:
def recommend(movie):
    movie_index = new_df[new_df['movie_title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[0:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].movie_title)

In [51]:
# new_df[new_df['movie title'] == 'Vikram'].index[0]
#new_df.iloc[21677].movie_title

In [52]:
recommend('The Avengers')

The Avengers
Avengers: Age of Ultron
Serenity
Avengers: Endgame
Spider-Man: Homecoming
Avengers: Infinity War

In [53]:
recommend('The Amazing Spider-Man')

The Amazing Spider-Man
The Amazing Spider-Man 2
Spider-Man
The Spider-Man 2
Spider-Man 3
Spider-Man: Into the Spider-Verse

In [54]:
recommend('The Batman')

The Batman
The Batman 2
Batman: A Beautiful Lie
Batman: The Killing Joke
Batman: Gotham by Gaslight
Jatt Jeona Mour